/* Utily */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}
:root {
  --spfy-dark: #000000;
  --spfy-white: #ffffff;
  --spfy-main: #141922;
  --spfy-secondary: #a3a3a3;
  --spfy-footer: #282828;
  --spfy-primary: #444444;
  --spfy-header: #080b12;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.m-22 {
  margin: 22px;
}
.white {
  color: var(--spfy-white);
}

/* Body */
main {
  height: calc(100vh - 100px);
}
.container {
  align-self: stretch;
  height: 100%;
}
.main-container {
  background: var(--spfy-main);
  flex-basis: 85%;
}
.sidebar {
  background: var(--spfy-dark);
  flex-basis: 15%;
}
.player {
  background: var(--spfy-footer);
  height: 100px;
}
/* end Body */

/* UPGRADE */
.upgrade {
  height: 94px;
  width: 100%;
  background: var(--spfy-header);
  justify-content: end;
  align-items: center;
}
.btn-upgrade {
  display: flex;
  color: var(--spfy-white);
  border: 1px solid var(--spfy-white);
  border-radius: 25px;
  padding: 15px;
  width: 300px;
  justify-content: center;
}
/* end UPGRADE */

/* LOGO */
.logo {
  width: 140px;
}
/* end LOGO */

/* Siderbar */
li {
  line-height: 35px;
}
.menu {
  color: var(--spfy-primary);
}
.playlist {
  color: var(--spfy-primary);
}
.plus {
  width: 30px;
  height: 30px;
  background: gray;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 5px;
  background: var(--spfy-secondary);
}
.menu-bottom {
  padding-top: 190px;
}
.app {
  border-bottom: 1px solid var(--spfy-secondary);
  padding: 15px 0;
}
.account {
  padding: 15px 0;
}
.arrow-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--spfy-white);
  color: var(--spfy-white);
  text-align: center;
  font-size: 10px;
}
.installation {
  color: var(--spfy-primary);
  padding: 0 10px;
}
.user-circle {
  width: 23px;
  height: 23px;
  background: var(--spfy-secondary);
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: var(--spfy-white);
}
.name-account {
  color: var(--spfy-white);
  padding: 0 10px;
}
/* end Siderbar */
