/* Utily */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}
:root {
  --spfy-dark: #000000;
  --spfy-white: #ffffff;
  --spfy-main: #141922;
  --spfy-secondary: #c1c1c1;
  --spfy-footer: #282828;
  --spfy-primary: #7d7d7d;
  --spfy-header: #080b127a;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.m-22 {
  margin: 22px;
}
.white {
  color: var(--spfy-white);
}
.justify-center {
  justify-content: center;
}
/* Body */
main {
  height: calc(100vh - 100px);
}
.container {
  align-self: stretch;
  height: 100%;
}
.main-container {
  background: var(--spfy-main);
  flex-basis: 85%;
  overflow-x: hidden;
}
.sidebar {
  background: var(--spfy-dark);
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.sidebar svg {
  vertical-align: text-bottom;
  margin-right: 5px;
}
.player {
  background: var(--spfy-footer);
  height: 100px;
}
/* end Body */

/* LOGO */
.logo {
  width: 150px;
}
.logo-xs {
  display: none;
}
/* end LOGO */

/* Siderbar */
.green_container {
  position: absolute;
}
.verticaline_green {
  position: relative;
  left: -22px;
  border-left: 3px solid greenyellow;
  height: 30px;
}

.menu-xs {
  display: none;
}
.bar-container {
  margin: 0 22px;
  height: 100%;
  justify-content: space-between;
}
svg {
  width: 25px;
  padding-right: 0 20px;
}
li {
  line-height: 30px;
}

.menu {
  color: var(--spfy-primary);
}
.playlist {
  color: var(--spfy-primary);
  margin-top: 10px;
}
.plus {
  width: 30px;
  height: 30px;
  background: gray;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 5px;
  background: var(--spfy-secondary);
  margin: 0 10px -10px 0;
}

.app {
  border-bottom: 1px solid var(--spfy-primary);
  padding: 8px 0;
}
.account {
  padding: 5px 0;
}
.arrow-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--spfy-white);
  color: var(--spfy-white);
  text-align: center;
  font-size: 10px;
}
.installation {
  color: var(--spfy-primary);
  padding: 0 8px;
}
.user-circle {
  width: 23px;
  height: 23px;
  background: var(--spfy-secondary);
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: var(--spfy-white);
}
.name-account {
  color: var(--spfy-white);
  padding: 0 8px;
}

.menu-mobile {
  display: none;
}
.app-mobile {
  display: none;
}
.mobile-top {
  display: none;
}
/* end Siderbar */

/* Main-Container */

/* UPGRADE */
.upgrade {
  height: 94px;
  width: calc(100% - 288px);
  background: var(--spfy-header);
  justify-content: end;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.btn-upgrade {
  border: 1px solid var(--spfy-white);
  background: var(--spfy-header);
  color: var(--spfy-white);
  border-radius: 25px;
  margin: 30px;
  width: 228px;
  height: 43px;
}

/* Bar-Main */

.line_green {
  border-bottom: 3px solid greenyellow;
  width: 40px;
  margin-left: 468px;
}

.bar-main {
  text-align: center;
  padding: 15px 15px 4px 0;
  margin-top: 94px;
}
.bar-main a {
  color: var(--spfy-primary);
  margin: 10px;
}
/* Recently */
h2 {
  color: var(--spfy-white);
  margin: 20px 0;
}
h4 {
  color: var(--spfy-white);
  text-align: center;
  padding: 10px;
}
.recently h5 {
  color: var(--spfy-primary);
  text-align: center;
  margin-bottom: 30px;
}
.for-you h5 {
  color: var(--spfy-primary);
  margin-bottom: 30px;
}
.artists h5 {
  color: var(--spfy-primary);
  margin-bottom: 30px;
}
.col-2 {
  width: calc(100% / 12 * 2 - 15px);
}
.album div {
  margin-right: 15px;
}
.recently,
.for-you,
.artists {
  margin-left: 20px;
}
.recently img,
.for-you img {
  max-width: 250px;
}
.artists img {
  max-width: 250px;
  border-radius: 50%;
}

/* end Main-Container */

/* Player */

.player {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.player-left {
  margin: 30px 10px;
  gap: 20px;
}
.player-left h5 {
  color: var(--spfy-white);
}
.player-left h6 {
  color: var(--spfy-primary);
}
.player-left a {
  color: var(--spfy-primary);
}
.track-name {
  color: var(--spfy-primary);
  font-size: 15px;
}
.favourites {
  gap: 10px;
}

.player-top i {
  color: var(--spfy-white);
  font-size: 20px;
  padding: 15px;
}

.player-bottom {
  gap: 30px;
}

.time {
  width: 500px;
  height: 5px;
  background: var(--spfy-primary);
  border-radius: 5px;
  border-left: 100px solid var(--spfy-secondary);
  margin: 7px;
  position: relative;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--spfy-white);
  position: absolute;
  left: 0;
  top: -2px;
  display: none;
}
.player-right i {
  color: var(--spfy-white);
}
.player-right {
  margin: 30px 10px;
  gap: 20px;
}
.volume {
  width: 100px;
  height: 5px;
  background: var(--spfy-primary);
  border-radius: 5px;
  border-left: 30px solid var(--spfy-secondary);
  margin: 5px;
  position: relative;
}

/* Hover */

.main-container img:hover {
  filter: opacity(0.5);
}
li:hover {
  color: var(--spfy-white);
}
a:hover {
  color: var(--spfy-white);
}
.plus:hover {
  background: var(--spfy-white);
}
.circle_play_center:hover {
  font-size: 30px;
}
button:hover {
  transform: scale(1.1);
}
.time:hover {
  border-left: 100px solid greenyellow;
  .dot {
    display: block;
  }
}
.volume:hover {
  border-left: 30px solid greenyellow;
  .dot {
    display: block;
  }
}
/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--spfy-primary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--spfy-secondary);
  border-radius: 10px;
}

/* responsive */

@media screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }
  .upgrade {
    width: 85%;
  }
  .logo {
    width: 80%;
    margin-left: 5px;
  }
  li {
    font-size: 10px;
    line-height: 15px;
  }
  .plus {
    width: 20px;
    height: 20px;
    background: gray;
    text-align: center;
    font-size: 10px;
    color: black;
    padding: 5px;
    background: var(--spfy-secondary);
    margin: 0 3px 0 0;
  }
  .line_green {
    border-bottom: 2px solid greenyellow;
    width: 26px;
    margin-left: 38px;
    margin-top: -16px;
  }
  .bar-container {
    margin: 0 10px;
  }
  .app {
    font-size: 10px;
  }
  .account {
    font-size: 10px;
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6 - 15px);
  }
  .album {
    flex-wrap: wrap;
  }
  .btn-upgrade {
    margin: 15px;
    width: 183px;
    height: 35px;
    font-size: 10px;
  }
  .time {
    width: 66px;
    height: 5px;
    background: var(--spfy-primary);
    border-radius: 5px;
    border-left: 19px solid var(--spfy-secondary);
    margin: 7px;
    position: relative;
  }
  .player-bottom {
    margin-left: 20px;
  }
  .player-left {
    margin: 36px 10px;
    gap: 13px;
  }
  .player-left a {
    font-size: 10px;
  }
  .favourites {
    gap: 10px;
    flex-direction: column;
  }
  .player-right {
    margin: 36px 1px;
    gap: 8px;
  }
  .volume {
    width: 41px;
    height: 5px;
    background: var(--spfy-primary);
    border-radius: 5px;
    border-left: 11px solid var(--spfy-secondary);
    margin: 3px;
    position: relative;
  }
  .recently img,
  .for-you img,
  .artists img {
    max-width: 170px;
  }
  .logo-xs {
    display: block;
    width: 40px;
    margin: 15px;
  }
  .logo {
    display: none;
  }
  li {
    display: none;
  }
  .menu-xs {
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: center;
    align-items: center;
  }
  .verticaline_green {
    display: none;
  }
  .account {
    display: none;
  }
  .app {
    display: none;
  }
  .mobile-xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (max-width: 1440px) {
}
